{% extends 'base.html' %}
{%load static%}

{% block title %} Страница авторизации {% endblock %}

{% block content %} 
  
<div class="d-flex justify-content-center align-items-center">
  <div class="contact-wrapper">
    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        Неверный логин или пароль. Попробуйте снова!
      </div>
    {% endif %}
    <header class="login-cta">
      <h2>Авторизоваться</h2>
    </header>
    <form method='post' action="{% url 'login' %}">
      {% csrf_token %}
      <div class="form-row">
        <input type="text" name='username' class="form-control" placeholder="Username" required>
      </div>
      <div class="form-row">
        <input type="password" name='password' class="form-control" placeholder="Password" required>
      </div>
      <div class="form-row">
        <button type="submit" class="btn">Войти!</button>
      </div>
      <div class="form-row">
        <button type="button" onclick="window.location.href='{% url 'register' %}'" 
                class="btn">Зарегестрироваться</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}